/**
 * Content Style Sheet
 * Site Name Ono-MBA new
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Iliya Melishev
 */

section#header.haredim {
	padding: 0 calc(~'(100% - 1200px)' / 2);
	padding-top: 100px;
	background-image: url(../images/header_haredim.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	min-height: 500px;

	position: relative;
}

section#header.leumi {
	margin-top: 112px;
	padding: 0 calc(~'(100% - 1200px)' / 2);
	padding-top: 40vh;
	background-image: url(../images/header_leumi.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	min-height: 500px;

	position: relative;
}

section#header.july {
	margin-top: 100px;
	padding: 4rem calc(~'(100% - 1200px)' / 2);
	background-image: url(../images/header_july.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 585px;

	position: relative;

	article {
		margin-top: 200px;
	}
}

section#header.jerusalem {
	margin-top: 100px;
	padding: 4rem calc(~'(100% - 1200px)' / 2);
	background-image: url(../images/header_july.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 585px;

	position: relative;

	article {
		margin-top: 150px;

		h1 {
			margin-bottom: 1rem;
		}

		p {
			font-size: 1.2rem;
			text-align: center;
			margin-bottom: 1rem;
		}

		ul {
			margin: 0;
		}
	}
}

section#header.haifa {
	margin-top: 100px;
	padding: 4rem calc(~'(100% - 1200px)' / 2);
	background-image: url(../images/header_july.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 585px;

	position: relative;

	article {
		margin-top: 200px;
	}
}


section#header.november,
section#header.march {
	margin-top: 114px;
	padding: 0 calc(~'(100% - 1200px)' / 2);
	padding-top: 100px;
	background-image: url(../images/header.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 500px;

	position: relative;
}

section#header {
	article {
		width: 50%;
		margin: 0 auto;
		padding: 2em;
		background-color: fade(white, 90%);
		color: @color_green;

		h1 {
			margin: 0;
			font-size: 2rem;
			color: black;
			text-align: center;
		}

		p {
			font-size: 1.8em;
			margin: 0;
			line-height: 1;
			font-weight: 700;
		}

		ul {
			margin-bottom: 0;
			font-size: 1.2rem;
		}
	}

	span.arrow {
		position: absolute;
		bottom: 2em;
		left: 50%;
		transform: translateX(-50%);

		width: 5rem;
		height: 5rem;
		border-radius: 100%;
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);

		animation-name: floating;
		animation-duration: 2s;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;

		svg {
			display: block;
			width: 5rem;
			height: 5rem;
		}
	}
}

section#header.haredim article {
	margin-top: 3rem;
}

@keyframes floating {
	from { bottom: 3.5em;}
	to {bottom: 2em;}
}

/**
 * Section patch disscount and contact form
 */

section#register {
	padding: 3em calc(~'(100% - 1200px)' / 2);
}

div.contact,
div.form_container,
section#register div.discount {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	box-sizing: border-box;
}

section#register div.discount {
	padding:0 4em;
}

section#register div.discount > h2 {
	text-align: center;
	font-size: 3rem;
	color: @color_green;
	margin: 0;
	padding-bottom: 1em;
}

section#register div.discount article {
	background-color: @color_green;
	color: white;
	text-align: center;
	padding: 1em;
	transform: rotate(5deg);
	border: 3px dashed white;
}

section#register div.discount article h2 {
	margin: 0;
	font-size: 3.5rem;
}

section#register div.discount article p {
	font-size: 2rem;
	margin: 0;
}

div.form_container {
	background-color: @color_grey_light;
	padding: 1em;
	padding-top: 0;
}

div.form_container h2 {
	margin: 0;
	font-size: 3rem;
	border-bottom: 2px solid @color_grey;
	padding: 0.5em;
	text-align: center;
}

div.form_container form {
	margin-top: 1em;
}

div.form_container form label {
	display: block;
	width: 100%;
	padding-bottom: 1em;
}

div.form_container form label span {
	display: inline-block;
	vertical-align: middle;
	width: 130px;
	font-size: 1.5rem;
}

div.form_container form label span:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	margin-left: 0.5em;

	background-image: url(../images/name.svg);
	background-size: 35px 35px;
	background-position: center;
	background-repeat: no-repeat;
}

div.form_container form label:nth-of-type(2) span:before {
	background-image: url(../images/phone-form.svg);
}

div.form_container form label:nth-of-type(3) span:before {
	background-image: url(../images/email.svg);
}

div.form_container form label:nth-of-type(4) span:before {
	background-image: url(../images/subject.svg);
}


div.form_container form label select,
div.form_container form label input {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 1em 0.5em;
	width: calc(~'(100% - 130px)');
	background-color: white;

	border: 1px solid @color_grey;
	transition: all 0.3s;

	&:hover,
	&:focus {
		border: 1px solid @color_green,
	}
}

div.form_container form div.controls {
	text-align: center;
}

div.form_container form div.controls button {
	color: white;
	border: none;
	background-color: @color_green;
	font-size: 1.5rem;
	padding: 0.5em 1em;
	font-weight: 700;

	transition: all 0.3s;

	&:hover {
		background-color: lighten(@color_green, 10%);
		cursor: pointer;
	}
}

/*
 * Section features
 */
section#features {
	padding: 3em calc(~'(100% - 1200px)' / 2);
	background-image: url(../images/texture.png);
	background-repeat: repeat;
	background-position: center;
	background-size: 200px 200px;
}

section#features article {
	text-align: center;
}

section#features article p {
	margin: 0;
	font-size: 1.8rem;
	color: @color_grey;
	padding-bottom: 1em;
}

section#features article h2 {
	color: @color_green;
	font-size: 3rem;
	margin: 0;
	padding: 1em 0;
}

section#features ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

section#features ul li {
	display: inline-block;
	vertical-align: top;
	list-style: none;

	width: 33.3%;
	box-sizing: border-box;
	padding: 0 1em;
}

section#features ul li svg {
	width: 5rem;
	height: 5rem;
}


section#features ul li p {
	font-size: 1.5em;
	margin-bottom: 0;
}

/*
 * Section subjects
 */

section#subjects.november {
	padding: 3em calc(~'(100% - 1200px)' / 2);

	div#articles_container {
		column-count: 2;
		column-gap: 1.5rem;
		text-align: center;

		article {
			display: inline-block;
			vertical-align: top;
			width: 100%;
		}
	}
}

section#subjects {
	padding: 3em calc(~'(100% - 1200px)' / 2);

	div#articles_container {
		display: block;

		small {
			color: @color_grey;
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}

	&.leumi small {
		font-size: 1rem;
	}
}

section#subjects article {
	width: 50%;
	margin: 0 auto;
	background-color: @color_grey_light;
	text-align: center;
	margin-bottom: 2rem;
}

section#subjects.haifa article,
section#subjects.haredim article,
section#subjects.july article,
section#subjects.leumi article {
	width: 800px;
}

section#subjects.july > article {
	margin-top: 4rem;
}

section#subjects article h2 {
	color: white;
	background-color: @color_grey;
	padding: 1em;
}

section#subjects.haifa article h2,
section#subjects.haredim article h2,
section#subjects.november article h2,
section#subjects.july article h2 {
	margin-top: 0;
}

section#subjects.haifa article small,
section#subjects.haredim article small,
section#subjects.november article small,
section#subjects.july article small {
	font-size: 0.7em;
}

section#subjects article h2:before {
	content: '';
	display: block;
	width: 50px;
	height: 55px;
	margin: 0 auto;
	margin-bottom: 1em;

	background-image: url(../images/location.svg);
	background-repeat: no-repeat;
	background-size: 45px 54px;
	background-position: center;
}

section#subjects.july > article h2:before {
	display: none;
}

section#subjects article h3 {
	color: @color_grey;
	width: 50%;
	margin: 0 auto;
	padding-bottom: 1em;
	font-size: 1.5rem;
}

section#subjects article p {
	padding: 1em;
	margin: 0;
	color: @color_grey;
	font-size: 1.3rem;
}

section#subjects article ul {
	list-style: none;
	margin: 0;
}

section#subjects article ul li {
	font-size: 1.2rem;
	padding-bottom: 1em;
	text-align: initial;
	color: @color_grey;
	line-height: 100%;
}

section#subjects article ul li:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	background-color: @color_grey;
	border: 1px solid @color_grey;
	border-radius: 100%;
	margin-left: 1em;
	line-height: 100%;
}

section#subjects div.logos {
	text-align: center;
	padding: 1em 0;
}

section#subjects div.logos h4 {
	font-size: 1.8rem;
	color: @color_grey;
}

section#subjects div.logos figure {
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	margin: 0 1em;
}

/*
 * Section graduates
 */
section#tutors,
section#graduates {
	padding: 0em calc(~'(100% - 1200px)' / 2);
	padding-top: 3em;
	background-color: @color_grey_light;
	text-align: center;
}

h2.tutors,
h2.graduates {
	background-color: @color_grey;
	color: white;
	text-align: center;
	padding: 1em 0;
	font-size: 2.5rem;
	margin: 0;
}

section#tutors figure,
section#graduates figure {
	display: inline-block;
	vertical-align: top;
	margin: 1em;
	text-align: center;
	max-width: 250px;
}

section#tutors figure img,
section#graduates figure img {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

section#tutors figure h4,
section#graduates figure h4 {
	color: @color_grey;
	margin: 0;
	font-size: 1.5rem;
	padding: 0.5em;
}

section#graduates figure p {
	margin: 0;
}

/*
 * Section tutors (styles connected in section graduates)
 */

h2.tutors {
	background-color: @color_green;
}

section#tutors {
	background-color: fade(@color_green, 30%);
}

/*
 * Footer
 */

footer {
	padding: 3em calc(~'(100% - 1200px)' / 2);
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-position: center top;

	min-height: 500px;
}

footer div.contact {
	padding: 0 5em;
	padding-top: 2em;
}

footer div.contact a.logo {
	display: block;
	margin: 0 auto;
	padding-bottom: 1em;
}

footer div.contact a.logo svg {
	width: 300px;
	height: auto;
}

footer div.contact h3 {
	color: @color_green;
	font-size: 2rem;
	margin: 0;
	padding-bottom: 1em;
}

footer div.contact a.phone {
	border: 3px solid @color_green;
	display: inline-block;
	vertical-align: middle;

	text-decoration: none;
	color: @color_green;
	padding: 0.5em;
	font-size: 2rem;
	font-weight: 700;
	transition: all 0.3s;

	&:hover {
		border: 3px solid lighten(@color_green, 10%);
		background-color: white;
	}
}

footer div.contact a.phone svg {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}

/*
 * Copyright
 */

div.copyright {
	background-color: @color_grey;
	color: white;
	text-align: center;
	background-position: calc(~'50% - 100px') center;
}

.sports {
	background-color: @color_grey;
	padding: 4rem 0rem;
	font-size: 1.2rem;
	color: #fff;

	article {
		padding: 0rem calc(~'(100% - 1200px) / 2');
		position: relative;
		line-height: 120%;

		h2 {
			color: @color_green;
			text-align: center;
		}

		ul {
			padding: 0;
			margin: 0;

			li {
				list-style-type: none;
				padding: 0.5rem 1rem;
			}

			&:nth-of-type(1) > li > strong {
				color: @color_green;
			}

			&:nth-of-type(1) > li:nth-of-type(2) > strong:nth-of-type(2) {
				background-color: @color_green;
				color: #fff;
				padding: 0.2rem;
			}

			&:nth-of-type(2) > li > strong {
				color: @color_green;
			}
		}

		p {
			margin: 0 2rem;

			&:nth-of-type(2) {
				padding-bottom: 4rem;
			}

			&:last-of-type {
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 1rem;
				margin: 0;
				left: 0;
				text-align: center;
				background-color: @color_green;
				font-size: 1.2rem;
			}
		}
	}

	div {
		background-color: #fff;
		padding: 0rem calc(~'(100% - 1200px) / 2');
		text-align: center;

		figure {
			display: inline-block;
			vertical-align: top;
			margin: 1em;
			text-align: center;
			max-width: 300px;

			img {
				box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
			}

			h4 {
				color: @color_grey;
				margin: 0;
				font-size: 1.5rem;
				padding: 0.5em;
			}

			p {
				margin: 0;
				color: @color_grey;
			}
		}
	}
}

/*
 * Media Query
 */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	header {
		padding: 1em;
	}

	footer,
	section#register {
		padding: 3em 1em;
	}

	div.copyright {
		background-position: calc(~'(50% - 150px)') center;
	}
}
